{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "global/main.css" %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "global/vote.js" %}"></script>
    <script type="text/javascript" src="{% static "global/main.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" style="margin: 3% 0">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        </div>
    {% endif %}

    <div id="qv-credits-bar" style="width: 100% !important;">
        <div id="qv-credits-bar-base">
            <div id="qv-credits-left-bar"></div>
            <div id="qv-credits-label">You have <span id="qv-credits-left">{{ total_votes }}</span> credits left</div>
        </div>
    </div>

    <table>
        {% for q in questions %}
            <tr class="row-border-bottom" id="{{ q.name }}">
                <td class="qv-label" style="-webkit-user-select: none;-moz-user-select: none !important;
                                            -ms-user-select: none !important;user-select: none !important;">{{ q.label }}</td>
                <td class="qv-td-voting">
                    <div class="voting">
                        <div class="justify-center">
                            <div class="thumb-div" onclick='btn("{{ q.name }}", "disagree")'>
                                <i class="fa fa-thumbs-down"></i>
                            </div>
                            <div class="vote-outer-circle">
                                <input type='text' class='nvote' value='0' readonly>
                                <input type="hidden" class='real_value' name="{{ q.name }}" value='0' readonly/>
                                <div class="vote-inner-circle"></div>
                            </div>
                            <div class="thumb-div" onclick='btn("{{ q.name }}", "agree")'>
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div>
                            <div class="qv-disagree">DISAGREE</div>
                            <div class="qv-agree">AGREE</div>
                        </div>
                        <div class="justify-center">
                            <div class="qv-cost">Costs</div>
                            <div class="ncost">0</div>
                            <div class="qv-credits">credits</div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div id="qv-no-credits" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Oh no!</h2>
                    <h3>Looks like you ran out of credits.</h3>
                    <p>You will need to reduce some of your votes if you want more credits.</p>
                </div>
                <div class="modal-footer">
                    <button id="closeBtn" type="button" class="btn btn-primary" data-dismiss="modal">
                        Got it
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        {% next_button %}
    </div>
{% endblock %}
