.qv-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    font-size: 36px;
}

.category-name {
    margin: 6px;
    width: 35%;
    display: block;
}

.qv-title {
    margin-left: 10px;
}

.card-header {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 60px;
}

.qv-proposals {
    margin-right: 10px;
}

#qv-credits-bar-base {
    position: relative;
    background-color: dimgray;
    color: #ffffff;
    display: block;
    width: 100%;
}

#qv-credits-bar > div > #qv-credits-left-bar {
    height: 40px;
}

#qv-credits-left-bar {
    background: #f7cf2f;
}

#qv-credits-bar {
    margin: 0;
    z-index: 5;
    position: relative;
    top: 50%;
}

#qv-credits-bar > div > #qv-credits-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

table, tr, td {
    margin: 0 auto 40px auto;
}

td {
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

tr.row-border-bottom td {
    padding-top: 30px;
    border-bottom: 3px solid lightgrey;
}


td.voting {
    padding-left: 30px;
    padding-right: 30px;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;;
    transform: none !important;
}

.voting {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.voting > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.voting .justify-center {
    justify-content: center;
}


.fa-thumbs-up {
    font-size: 30px;
    user-select: none;
    color: limegreen;
    margin: auto;
}

.fa-thumbs-down {
    font-size: 30px;
    user-select: none;
    color: indianred;
    margin: auto;
}

.thumb-div {
    background: whitesmoke;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    max-height: 100px;
    cursor: pointer;
}

.thumb-div:hover {
    opacity: .8;
    color: green;
}

.vote-outer-circle {
    background: #e8e8e8;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 0
}

.otree-form-errors {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
}

.nvote, .vote-inner-circle {
    border-radius: 50%;
    width:51%;
    height:51%;
    left: 24%;
    top: 24%;
    position: absolute;
    user-select: none;
}

.vote-inner-circle {
    border-radius: 50%;
    z-index: 0
}

.nvote {
    background: #e8e8e8;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    border: none;
    z-index: 1;
    pointer-events: none;
}

.qv-cost, .qv-credits {
    user-select: none;
    color: grey;
    margin-top: 6px;
    width: 30%;
}

.qv-cost {
    padding-right: 4px;
    text-align: right;
}

.qv-credits {
    padding-left: 4px;
    text-align: left;
}

.ncost {
    user-select: none;
    background: #f7cf2f;
    color: #ffffff;
    border-radius: 2px;
    padding: 0 6px 0 6px;
}

.qv-agree, .qv-disagree {
    user-select: none;
    margin-top: -20px;
    font-weight: bold;
    visibility: hidden;
    width: 50%;
}

div.center {
    display: flex!important;
    justify-content: center!important;
}

.qv-agree {
    color: #53bb33;
    margin-left: 2.6rem;
}

.qv-disagree {
    color: orangered;
    margin-right: 2.6rem;
    text-align: right;
}

.section_header {
    display: flex!important;;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
        width: 100%;
        margin: 0 auto 20px;
    }

    #qv-credits-bar-base {
        position: relative;
        background-color: dimgray;
        color: #ffffff;
    }


    div.container {
        padding-left: 0;
        padding-right: 0;
    }

    .page-header {
        padding-top: 0;
        font-size: 2rem;
    }

    .qv-label {
        text-align: center;
        vertical-align: middle;
    }

    .qv-header {
        font-size: 1rem;
    }

    table, tr, td {
        display: table;
        border: none!important;
        width: 100%;
    }

    tbody {
        width: 100%!important;
    }

    tr.row-border-bottom td {
        padding-top: 10px;
    }

    td.qv-label {
        padding-bottom: 5px;
    }

    td.voting {
        padding: 0!important;
    }

    tr.border-bottom td.voting {
        border-bottom: 3px solid lightgrey;
    }

    .nvote {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    body {
        max-width: 575px;
    }
}

@media screen and (max-width: 550px) {
    body {
        max-width: 550px;
        margin: 0 auto 20px;
    }

    #qv-credits-bar {
        width: 60%;
        position: static;
        -ms-transform: none;
        transform: none;
    }

    .accordion {
        height: auto;
    }

    .card-header {
        flex-wrap: wrap;
        height: 102px;
    }

    .category-name {
        margin: 6px;
        width: 100%;
    }

    .qv-header, #qv-credits-bar {
        width: 100%;
    }

    #qv-credits-bar-base {
        right: 0px;
        width: 100%;
        z-index: 3;
    }

}

@media screen and (max-width: 371px) {
    body {
        max-width: 371px;
        margin: 0 auto 20px;
    }

    .card-body {
        padding: 0.9rem;
    }

    .thumb-div {
        width: 70px;
        height: 70px;
    }

    .fa-thumbs-up, .fa-thumbs-down {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}